# Created by https://www.gitignore.io/api/node,osx,windows

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

### OSX ###
.DS_Store

### Custom ###
test/robots.txt
test/stream/
.idea
